.a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

img {
    height: auto;
    width: 400px;
}

.b {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.b button{
    width: 50px;
    background-color: black;
    color: beige;
    margin-left: 20px;
    border-radius: 8px;
}